node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.eslintcache
*.tsbuildinfo
.eslintcache
*.tsbuildinfo
*.tsbuildules/@upleveled/eslint-config-upleveled/templates/{*,.eslint*} .
grep -Fxq .eslintcache .gitignore || printf n.eslintcache >> .gitignore
grep -Fdinfo
*.tsbuildinfo